<h2 id='title'>Material Design Icons</h2>

{{material-design-icon name='chat'}}
{{material-design-icon name='chat' size='4x' rotate=90}}
{{material-design-icon name='chat' size='4x' rotate=180}}
{{material-design-icon name='chat' size='4x' rotate=270}}
{{material-design-icon name='chat' size='4x'}}
{{material-design-icon name='chat' size='4x' flip='horizontal'}}
{{material-design-icon name='chat' size='4x' flip='vertical'}}
{{material-design-icon name='devices' size='lg' spin=true}}
{{material-design-icon name='attach-file' size='5x' iconClass="lol" spinReverse=true}}

{{outlet}}
